<%- include('../partials/app_header.ejs') %>
<div class="container">
  <h4><%= formTitle %></h4>
  <div class="col-md-4">
  <form action="/carrer/<%= action %>" method="post">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="hidden" name="id" value="<%= carrer.id %>">
      <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Nombre del curso" value="<%= carrer.name %>">
      <small id="nameHelp" class="form-text text-muted">Debe de ingresar el nombre del curso</small>
    </div>
    <button type="submit" class="btn btn-primary">Grabar</button>
  </form>
  </div>
</div>
<%- include('../partials/app_footer.ejs') %>