<%- include('../partials/app_header.ejs') %>
<div class="container">
  <h4>Lista de Carreras</h4>
  <%- prevMessage %>
  <table class="table table-striped col-md-4">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% for (var carrer of carrers) { %>
      <tr>
        <td>
          <%= carrer.name %>
        </td>
        <td>
          <a href="/carrer/edit/<%= carrer.id %>">Editar</a>
          <a href="/carrer/delete?id=<%= carrer.id %>">Eliminar</a>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <td colspan="2" class="text-right">
        <a href="/carrer/add" class="btn btn-primary">Agregar Carrera</a>
      </td>
    </tfoot>
  </table>
</div>
<%- include('../partials/app_footer.ejs') %>